body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav {
    width: 1500px;
    display: flex;
    background-color: rgba(235, 85, 118, 0.1);
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #181818;
    padding-left: 120px;
    font-size: 40px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.text-primary {
    color: #E55473;
}

header {
    width: 1500px;
    height: 700px;
    background-color: rgba(235, 85, 118, 0.1);
    display: flex;
    text-align: left;
    align-items: center;
}

.header-image {
    width: 580px;
    height: 620px;
    padding: 80px 120px 0px 0px;
}

.banner-content {
    width: 580px;
    padding-left: 120px;
    padding-right: 140px;
}

.header-title {
    color: #272727;
    font-size: 55px;
    font-weight: 700;
}

.btn-primary {
    border-radius: 6px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 18px 20px;
}

.hot-deal {
    background-color: rgba(235, 85, 118, 0.1);
    display: flex;
    gap: 30px;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.hot-deal-content {
    padding-left: 250px;
    padding-right: 100px;
}

.hot-deal-img {
    width: 230px;
    height: 300px;
    padding: 80px 300px 80px 0px;

}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.feature-img {
    display: flex;
    gap: 35px;
    margin: 100px 120px 0px 120px;
}

.feature-card-img {
    width: 220px;
    height: 328px;
    padding: 72px 70px 0px 70px;
}

.img-card-one {
    background-color: rgba(167, 33, 98, 0.15);
    width: 385px;
    height: 400px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.img-card-two {
    background-color: rgba(5, 151, 160, 0.15);
    width: 385px;
    height: 400px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.img-card-three {
    background-color: rgba(71, 125, 17, 0.15);
    width: 385px;
    height: 400px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.featue-caption {
    display: flex;
    gap: 30px;
    padding-left: 120px;
}

.text-card-one {
    width: 385px;
    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
}


footer {
    background: #151414;
    padding-bottom: 120px;
    color: #FFF;
    text-align: center;
    margin-top: 100px;
}

.footer-title {
    padding-top: 120px;
    font-size: 48px;
    font-weight: 800;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-weight: 400;
}

small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-weight: 400;
    padding-top: 30px;
}

.flower-footer {
    color: #E55473;
}

.get-deals {
    background-image: url("../assets/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1260px;
    height: 470px;
    border-radius: 8px;
    margin: 100px 120px 0px 120px;
}

.deals-content {
    text-align: center;
    padding-top: 100px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-off {
    color: #E55473;
}

.deal-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

input[type="text"] {
    width: 580px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
}

.insta-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.insta-img {
    display: flex;
    gap: 15px;
    width: 300px;
    height: 346px;
    margin: 100px 120px 0px 120px;

}