header {
    width: 1500px;
    height: 700px;
    background-color: rgba(235, 85, 118, 0.1);
    display: flex;
    /* text-align: center; */
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 25px;
}

.hot-deal {
    background-color: rgba(235, 85, 118, 0.1);
    display: flex;
    margin-top: 100px;
}

footer {
    background: #151414;
    padding-bottom: 200px;
    color: #FFF;
    text-align: center;
    margin-top: 100px;
}

.flower-footer {
    color: #E55473;
}

.get-deals {
    background-image: url("../assets/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1260px;
    height: 470px;
    border-radius: 8px;
    margin: 100px 110px 0px 110px;
}

.deals-content {
    text-align: center;
    padding-top: 100px;
}